body {
    background-color: slategray;
}

#form{
    display: none;
    margin: 20px 20px;
}

.expel{
    background-color: blueviolet;
    padding: 15px 30px;
    border-radius: 10%;
}

a{
    list-style-type: none;
    color: white;
}
a:hover{
    list-style-type: none;
    color: white;
}
.cardContainer{
    margin: 20px 20px;
}