body {
    background-color: slategray;
}

#form{
    display: none;
}

#sortBtn{
    background-color: blueviolet;
    padding: 15px 30px;
}

a{
    list-style-type: none;
    color: white;
}
a:hover{
    list-style-type: none;
    color: white;
}